.profile {
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.08), 2px 1px 1px rgba(0, 0, 0, 0.04),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  max-width: 250px;
  padding: 12px;
  margin-bottom: 20px;
}

.description {
  text-align: center;
}

.avatar {
  margin-bottom: 12px;
}

.name {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: large;
  font-weight: bold;
}

.tag {
  margin-top: 0;
  margin-bottom: 8px;

  color: gray;
}

.location {
  margin-top: 0;
  margin-bottom: 0;

  color: gray;
}

.stats {
  display: flex;
  padding: 8px;
  justify-content: space-around;
  background-color: rgb(245, 245, 245);
}

.stats li {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.label {
  font-size: small;
}

.quantity {
  color: gray;
  font-weight: bold;
}
