.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid gray;
  max-width: 10rem;
  border-radius: 3px;
  padding: 6px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.08), 2px 1px 1px rgba(0, 0, 0, 0.04),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.online {
  display: flex;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: green;
  margin-right: 12px;
}

.offline {
  display: flex;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: red;
  margin-right: 12px;
}

.avatar {
  margin-right: 8px;
}

.name {
  font-size: 18px;
}
