.transactionHistory {
  border-collapse: collapse;
}

.head {
  padding: 12px;
  background-color: rgb(128, 167, 240);
  width: 110px;
  text-transform: uppercase;
}

.row {
  border-bottom: 1px solid rgb(189, 189, 189);
}

.cell {
  text-align: center;
}
